
 <!-- **** CREATE USER **** -->
<ng-container *ngIf="ifCreate">
  <h3>Create New User</h3>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">


      <div class="form-group col-md-5">
        <label for="firstName">First Name </label>
      <input type="text"  class="form-control" name="firstName" #firstName="ngModel"  placeholder="Enter first name" ngModel required>
    </div>
    <div class="form-group col-md-5">
      <label for="lastName">Last Name </label>
    <input type="text"  class="form-control" name="lastName" #lastName="ngModel"  placeholder="Enter last name" ngModel required>
  </div>
  <div class="form-group col-md-5">
    <label for="username">Username </label>
  <input type="text" class="form-control"  name="username" #username="ngModel"  placeholder="Enter username" ngModel required>
</div>


<div class="col-md-5">
    <button type="submit"  [disabled]="!userForm.valid" class="btn btn-info">Create User</button> <button class="btn btn-warning float-right" (click)="closeUser()">Close Create User</button>
  </div>
  </form>
</ng-container>


<div class="col-md-4">
<button *ngIf="!ifCreate" class="btn btn-primary"  (click)="showCreateUser()">Create New User</button>
</div>
<br>

<!-- **** SEARCH FILTER **** -->
<div class="col-md-4">
<input type=text placeholder="search users" #searchTerm class="form-control">
<br>
<button class="btn btn-secondary" (click)="searchUser(searchTerm.value)">Search</button>
</div>
<br>

<!-- **** USERS TABLE **** -->
<table class="table table-bordered col-md-8">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList">
      <td>
          {{user.firstName}}
      </td>
      <td>
        {{user.lastName}}
      </td>
      <td>
        {{user.username}}
      </td>
    </tr>
  </tbody>

